.Phonetic {
    height: 60px;
}

.Phonetic a {
    text-decoration: none;
    border-radius: 10px;
    transition: all 50ms ease-in-out;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.Phonetic a:hover {
    font-weight: bolder;
    font-size: 15px;
    color: white;
}

.Phonetic .text {
    opacity: 0.5;
}
